doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="shortcut icon", href="/favicon.ico")

    meta(name="description", content="REPLACE")
    meta(name="keywords", content="REPLACE")
    meta(name="robots", content="index, follow")

    title= title

    link(rel='stylesheet', href='/stylesheets/style.css')

    block stylesheets
    block head_scripts

  body

    block body_scripts
